src/templates/_footer.pug
.footer-navigation
	.container
		.row
			.col-6.col-md-2
				a.sitemap-title(href='https://www.blender.org/download/')
					| Download
				ul
					li
						a(href='https://www.blender.org/download/', title='Download Blender')
							| Latest Blender
					li
						a(href='https://www.blender.org/download/lts/', title='Blender Long-term Support')
							| Blender LTS
					li
						a(href='https://www.blender.org/download/releases/', title='Release Notes')
							| Release Notes
					li
						a(href='https://www.blender.org/download/requirements/', title='Requirements')
							| Requirements
					li
						a(href='https://www.blender.org/download/previous-versions/', title='Previous Versions')
							| Previous Versions
					li
						a(href='https://builder.blender.org/', title='Experimental Builds')
							| Experimental Builds
					li
						a(href='https://developer.blender.org/diffusion/B/', title='Source Code')
							| Source Code

				a.sitemap-title(href='https://www.blender.org/news/', title='Articles')
					| Articles
				ul
					li
						a(href='https://www.blender.org/category/news/', title='News')
							| News
					li
						a(href='https://www.blender.org/category/press/', title='Press Releases')
							| Press Releases
					li
						a(href='https://www.blender.org/get-involved/user-stories/', title='User Stories')
							| User Stories

			.col-6.col-md-2
				a.sitemap-title(href='https://www.blender.org/about/')
					| About
				ul
					li
						a(href='https://www.blender.org/about/foundation/', title='Blender Foundation')
							| Blender Foundation
					li
						a(href='https://www.blender.org/about/institute/', title='Blender Institute')
							| Blender Institute
					li
						a(href='https://www.blender.org/about/studio/', title='Blender Studio')
							| Blender Studio
					li
						a(href='https://www.blender.org/about/license/', title='License')
							| License
					li
						a(href='https://www.blender.org/about/logo/', title='Logo & Trademark')
							| Logo & Trademark
					li
						a(href='https://www.blender.org/about/credits/', title='Credits')
							| Credits
					li
						a(href='https://www.blender.org/about/website/', title='Website')
							| Website
					li
						a(href='https://www.blender.org/privacy-policy/', title='Privacy Policy')
							| Privacy Policy

				.sitemap-title
					| Organization
				ul
					li
						a(href='https://www.blender.org/about/people/', title='People')
							| People
					li
						a(href='https://www.blender.org/jobs/', title='Jobs')
							| Jobs

			.col-6.col-md-2
				a.sitemap-title(href='https://www.blender.org/get-involved/')
					| Get Involved
				ul
					li
						a(href='https://www.blender.org/get-involved/dashboard/', title='Dashboard')
							| Dashboard
					li
						a(href='https://www.blender.org/get-involved/developers/', title='Development')
							| Development
					li
						a(href='https://www.blender.org/get-involved/documenters/', title='Documentation')
							| Documentation
					li
						a(href='https://www.blender.org/get-involved/', title='Education')
							| Education

				a.sitemap-title(href='https://fund.blender.org/')
					| Donate
				ul
					li
						a(href='https://fund.blender.org/', title='Blender Development Fund')
							| Development Fund
					li
						a(href='https://www.blender.org/about/donations/', title='One-time Donations')
							| One-time Donations

				a.sitemap-title(href='https://studio.blender.org/', title='Blender Studio')
					| Blender Studio
				ul
					li
						a(href='https://studio.blender.org/blog/', title='Blender Studio Blog')
							| Studio Blog

				a.sitemap-title(href='https://www.blender.org/conference/', title='Blender Conference')
					| Blender Conference

			.col-6.col-md-3
				a.sitemap-title(href='https://code.blender.org/')
					| Developers
				ul
					li
						a(href='https://code.blender.org/', title='Developers Blog')
							| Blog
					li
						a(href='https://devtalk.blender.org/', title='Developers Forum')
							| Forum
					li
						a(href='https://wiki.blender.org/', title='Developers Wiki')
							| Wiki
					li
						a(href='https://developer.blender.org/', title='Developers Portal')
							| Developers Portal
					li
						a(href='https://docs.blender.org/api/current/', title='Python API')
							| Python API

				a.sitemap-title(href='https://www.blender.org/support/')
					| Support
				ul
					li
						a(href='https://www.blender.org/community/', title='Community')
							| Community
					li
						a(href='https://docs.blender.org/manual/', title='Manual')
							| Manual
					li
						a(href='https://www.blender.org/support/faq/', title='FAQ')
							| FAQ
					li
						a(href='https://www.blender.org/support/tutorials/', title='Tutorials')
							| Tutorials

				a.sitemap-title(href='https://opendata.blender.org/', title='Blender Benchmark - Open Data')
					| Blender Benchmark - Open Data

			.col-6.col-md-2.social
				a.sitemap-title(href="https://twitter.com/blender")
					| Follow Blender

				ul.social-icons
					li
						a.social-icons__youtube(href='https://youtube.com/BlenderFoundation', title="Blender's Official YouTube channel", target="_blank")
							i.i-youtube
							| YouTube
					li
						a.social-icons__twitter(href='https://twitter.com/blender', title='Follow Blender on Twitter', target="_blank")
							i.i-twitter
							| Twitter
					li
						a.social-icons__instagram(href='https://instagram.com/blender.official/', title='Follow Blender on Instagram', target="_blank")
							i.i-instagram
							| Instagram

					li
						a.social-icons__facebook(href='https://www.facebook.com/YourOwn3DSoftware/', title='Follow Blender on Facebook', target="_blank")
							i.i-facebook
							| Facebook

					li
						a.social-icons__linkedin(href='https://www.linkedin.com/company/blender-org/', title='Follow Blender on LinkedIn', target="_blank")
							i.i-linkedin
							| LinkedIn

footer.footer-note
	| Artistic freedom starts with Blender #[i.i-heart] #[span The Free and Open Source 3D Creation Suite]

	#hop(title='Be awesome in space')
		svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
			path(d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z')

src/templates/_footer.html

<div class="footer-navigation">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-2"><a href="https://www.blender.org/download/" class="sitemap-title">Download</a>
        <ul>
          <li>
            <a href="https://www.blender.org/download/" title="Download Blender">Latest Blender</a>
          </li>
          <li>
            <a href="https://www.blender.org/download/lts/" title="Blender Long-term Support">Blender LTS</a>
          </li>
          <li>
            <a href="https://opendata.blender.org/?utm_medium=www-footer" title="Blender Benchmark">Blender Benchmark</a>
          </li>
          <li>
            <a href="https://www.blender.org/download/previous-versions/" title="Previous Versions">Previous Versions</a>
          </li>
          <li>
            <a href="https://builder.blender.org/download/daily/" title="Experimental Builds">Experimental Builds</a>
          </li>
          <li>
            <a href="https://projects.blender.org/blender/blender?utm_medium=www-footer" title="Source Code">Source Code</a>
          </li>
          <li>
            <a href="https://www.blender.org/download/releases/" title="Release Notes">Release Notes</a>
          </li>
          <li>
            <a href="https://www.blender.org/download/requirements/" title="Requirements">Requirements</a>
          </li>
        </ul>

        <div class="sitemap-title">Organization</div>
        <ul>
          <li>
            <a href="https://www.blender.org/about/people/" title="People">People</a>
          </li>
          <li>
            <a href="https://www.blender.org/jobs/" title="Jobs">Jobs</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2"><a href="https://www.blender.org/about/" class="sitemap-title">About</a>
        <ul>
          <li>
            <a href="https://www.blender.org/about/foundation/" title="Blender Foundation">Blender Foundation</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/institute/" title="Blender Institute">Blender Institute</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/studio/" title="Blender Studio">Blender Studio</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/license/" title="License">License</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/logo/" title="Logo & Trademark">Logo & Trademark</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/credits/" title="Credits">Credits</a>
          </li>
          <li>
            <a href="https://www.blender.org/privacy-policy/" title="Privacy Policy">Privacy Policy</a>
          </li>
        </ul>

        <a href="https://www.blender.org/news/" title="Articles" class="sitemap-title">Articles</a>
        <ul>
          <li>
            <a href="https://www.blender.org/category/news/" title="News">News</a>
          </li>
          <li>
            <a href="https://www.blender.org/category/press/" title="Press Releases">Press Releases</a>
          </li>
          <li>
            <a href="https://www.blender.org/get-involved/user-stories/" title="User Stories">User Stories</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2"><a href="https://www.blender.org/get-involved/" class="sitemap-title">Get Involved</a>
        <ul>
          <li>
            <a href="https://www.blender.org/get-involved/dashboard/" title="Dashboard">Dashboard</a>
          </li>
          <li>
            <a href="https://www.blender.org/get-involved/developers/" title="Development">Development</a>
          </li>
          <li>
            <a href="https://www.blender.org/get-involved/documenters/" title="Documentation">Documentation</a>
          </li>
          <li>
            <a href="https://www.blender.org/get-involved/" title="Education">Education</a>
          </li>
        </ul>

        <a href="https://fund.blender.org/?utm_medium=www-footer" class="sitemap-title">Donate</a>
        <ul>
          <li>
            <a href="https://fund.blender.org/?utm_medium=www-footer" title="Blender Development Fund">Development Fund</a>
          </li>
          <li>
            <a href="https://www.blender.org/about/donations/?utm_medium=www-footer" title="One-time Donations">One-time Donations</a>
          </li>
        </ul>

        <a href="https://studio.blender.org/?utm_medium=www-footer" title="Blender Studio" class="sitemap-title">Blender Studio</a>
        <ul>
          <li>
            <a href="https://studio.blender.org/films/?utm_medium=www-footer" title="Blender Studio Films">Films</a>
          </li>
          <li>
            <a href="https://studio.blender.org/training/?utm_medium=www-footer" title="Blender Studio Training">Training</a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-3"><a href="https://developer.blender.org/?utm_medium=www-footer" class="sitemap-title">Developers</a>
        <ul>
          <li>
            <a href="https://developer.blender.org/?utm_medium=www-footer" title="Get Started">Get Started</a>
          </li>
          <li>
            <a href="https://projects.blender.org/?utm_medium=www-footer" title="Projects">Projects</a>
          </li>
          <li>
            <a href="https://wiki.blender.org/?utm_medium=www-footer" title="Developers Wiki">Docs</a>
          </li>
          <li>
            <a href="https://code.blender.org/?utm_medium=www-footer" title="Developers Blog">Blog</a>
          </li>
          <li>
            <a href="https://devtalk.blender.org/?utm_medium=www-footer" title="Developers Forum">Forum</a>
          </li>
          <li>
            <a href="https://docs.blender.org/api/current/?utm_medium=www-footer" title="Python API">Python API</a>
          </li>
        </ul>

        <a href="https://www.blender.org/support/" class="sitemap-title">Support</a>
        <ul>
          <li>
            <a href="https://docs.blender.org/manual/?utm_medium=www-footer" title="Manual">Manual</a>
          </li>
          <li>
            <a href="https://www.blender.org/community/" title="Community">Community</a>
          </li>
          <li>
            <a href="https://www.blender.org/support/faq/" title="FAQ">FAQ</a>
          </li>
        </ul>

        <a href="https://www.blender.org/conference/" title="Blender Conference" class="sitemap-title">Blender Conference</a>
      </div>
      <div class="col-6 col-md-2 social"><a href="https://twitter.com/blender" class="sitemap-title">Follow Blender</a>
        <ul class="social-icons">
          <li>
            <a href="https://youtube.com/BlenderFoundation" title="Blender's Official YouTube channel" target="_blank" class="social-icons__youtube">
              <i class="i-youtube"></i>YouTube
            </a>
          </li>
          <li>
            <a href="https://twitter.com/blender" title="Follow Blender on Twitter" target="_blank" class="social-icons__twitter">
              <i class="i-twitter"></i>Twitter
            </a>
          </li>
          <li>
            <a href="https://instagram.com/blender.official/" title="Follow Blender on Instagram" target="_blank" class="social-icons__instagram">
              <i class="i-instagram"></i>Instagram
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/YourOwn3DSoftware/" title="Follow Blender on Facebook" target="_blank" class="social-icons__facebook">
              <i class="i-facebook"></i>Facebook
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/blender-org/" title="Follow Blender on LinkedIn" target="_blank" class="social-icons__linkedin">
              <i class="i-linkedin"></i>LinkedIn
            </a>
          </li>
          <li>
            <a href="https://mastodon.social/@blender" title="Follow Blender on Mastodon" target="_blank" class="social-icons__mastodon">
              <svg xmlns="http://www.w3.org/2000/svg" width="61.076954mm" height="65.47831mm" viewBox="0 0 216.4144 232.00976">
                <path
                  d="M 107.87112,1.8691521 C 78.687821,2.1077446 50.615693,5.2679473 34.256124,12.781149 c 0,0 -32.4459422,14.513545 -32.4459422,64.032543 0,11.33929 -0.220399,24.897358 0.1387195,39.275628 1.1782038,48.42688 8.8777977,96.15389 53.6520047,108.00481 20.644395,5.46425 38.369975,6.60907 52.644934,5.82442 25.88728,-1.43526 40.41961,-9.23836 40.41961,-9.23836 l -0.85394,-18.78298 c 0,0 -18.49963,5.83267 -39.27562,5.12182 -20.58413,-0.70594 -42.314881,-2.21933 -45.644106,-27.49168 -0.307465,-2.2199 -0.461196,-4.59439 -0.461196,-7.0873 0,0 20.207151,4.93937 45.815252,6.11266 15.65855,0.71823 30.34229,-0.91732 45.25677,-2.69692 28.60157,-3.41533 53.50539,-21.03826 56.63538,-37.14079 4.93172,-25.36583 4.52549,-61.901308 4.52549,-61.901308 0,-49.518998 -32.44414,-64.032543 -32.44414,-64.032543 C 165.861,5.2679473 137.77144,2.1077446 108.58813,1.8691521 Z M 74.843276,40.561072 c 12.155915,0 21.360069,4.672182 27.446624,14.017872 l 5.91811,9.919343 5.91809,-9.919343 c 6.08534,-9.34569 15.28949,-14.017872 27.44664,-14.017872 10.50545,0 18.97017,3.693077 25.43431,10.897586 6.26612,7.204507 9.38608,16.94344 9.38608,29.197743 V 140.61564 H 152.63788 V 82.418319 c 0,-12.267833 -5.16149,-18.494728 -15.48615,-18.494728 -11.41555,0 -17.13636,7.385747 -17.13636,21.99154 V 117.77016 H 96.400641 V 85.915131 c 0,-14.605793 -5.722618,-21.99154 -17.138159,-21.99154 -10.324658,0 -15.486137,6.226895 -15.486137,18.494728 V 140.61564 H 40.021088 V 80.656401 c 0,-12.254303 3.120529,-21.993236 9.387885,-29.197743 C 55.871876,44.254149 64.3366,40.561072 74.843276,40.561072 Z"
                  style="fill:none;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:normal" />
              </svg>Mastodon
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer-note">Artistic freedom starts with Blender <i class="i-heart"></i> <span>The Free and Open Source 3D Creation Suite</span>
  <div id="hop" title="Be awesome in space">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
      <path d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
    </svg>
  </div>
</footer>
