src/templates/_navbar.pug
nav.navbar.navbar-expand-md.navbar-primary.fixed-top(role='navigation')
	.container
		a.navbar-brand.navbar-logo-blender(
			href='https://www.blender.org',
			title='Go to blender.org')

		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-collapse-menu')
			span.sr-only Toggle navigation
			span.navbar-toggler-icon
				svg(xmlns="http://www.w3.org/2000/svg", viewBox="-128 -128 2048 2048")
					path(d='M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z')

		#navbar-collapse-menu.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li
					a.nav-link(
						href='https://www.blender.org/features/',
						title="Features")
						| Features

				li
					a.nav-link(
						href='https://www.blender.org/download/',
						title="Download")
						| Download

				li
					a.nav-link(
						href='https://www.blender.org/support/',
						title="Support")
						| Support

				li
					a.nav-link(
						href='https://www.blender.org/get-involved/',
						title="Get Involved")
						| Get Involved

				li
					a.nav-link(
						href='https://www.blender.org/about/',
						title="About")
						| About

				li
					a.nav-link(
						href='https://store.blender.org/',
						title="Store")
						| Store

				li.nav-cta
					a.nav-link(
						href='https://fund.blender.org/',
						title="Donate")
						i.i-heart
						| Donate

src/templates/_navbar.html
<nav class="navbar navbar-expand-md navbar-primary fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand navbar-logo-blender" href="https://www.blender.org" title="Go to blender.org"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-menu">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-128 -128 2048 2048">
          <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path>
        </svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-menu">
      <ul class="navbar-nav ml-auto">
        <li><a class="nav-link" href="https://www.blender.org/features/" title="Features">Features</a></li>
        <li><a class="nav-link" href="https://www.blender.org/download/" title="Download">Download</a></li>
        <li><a class="nav-link" href="https://www.blender.org/support/" title="Support">Support</a></li>
        <li><a class="nav-link" href="https://www.blender.org/get-involved/" title="Get Involved">Get Involved</a></li>
        <li><a class="nav-link" href="https://www.blender.org/about/" title="About">About</a></li>
        <li><a class="nav-link" href="https://store.blender.org/" title="Store">Store</a></li>
        <li class="nav-cta"><a class="nav-link" href="https://fund.blender.org/" title="Donate"><i class="i-heart"></i>Donate</a></li>
      </ul>
    </div>
  </div>
</nav>
